.container.row
  .col-lg-8
    %p= "チーム名: #{@team.name}"
    %p= "チーム詳細: #{@team.description}"
    %p= "メンバー一覧"
    - @members.each do |member|
      .member_box
        %p= "名前: #{member.name}"
        %p= "学年: #{member.grade}"
    = link_to 'チームを編集する', edit_team_path(@team)
  = link_to '一覧に戻る', root_path
